/*
* Home Index
*/

.home-container {
    margin: 0 5vw; 
    max-width: 100vw;
    .row {
        display: block;
        max-width: 100vw;
        .homearticleitem {
            display: inline-block; 
            vertical-align: top; 
            width: 30%;
            margin: 3vh 1vh; 
            height: 25vh;
            .v-img {   
                height: 20vh;
                width: 100%;
                border-radius: 2px;
                position: relative;
                img {
                  object-fit: cover;
                  height: 100%;
                  width: 100%;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1365px) {
    .row {
        .homearticleitem {
            width: 45% !important; /* Modification : Deux éléments par ligne */
        }
    }
}

@media (max-width: 767px) {
    .row {
        .homearticleitem {
            width: 95% !important; /* Modification : Un élément par ligne */
        }
    }
}



/*
* End Home Index
*/